.whiteboard-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.whiteboard-canvas-container {
  flex: 1;
  position: relative;
  background: #f4f4f4;
}